<!DOCTYPE html>
<form name = "names" method="GET" action ="/hiThere" onsubmit="return validate()"> 
    First name:<br>
    <input type="text" id="firstname" name = "firstname" value = "Teagan"><br>
    Last name:<br>
    <input type="text" id="lastname" name = "lastname" value = "Shepherd"><br>
    <input type="submit" value="Submit">
</form>

<script> 

    function validate(){
        if(document.getElementById("firstname").value == ""){
            alert("Please give your first name!");
            document.names.firstname.focus();
            return false;
        } 
        if(document.getElementById("lastname").value == ""){
            alert("Please give your last name!");
            document.names.lastname.focus();
            return false;
        }
        return true;
    }

</script>